<div class="podium">
    <div class="second-place">
        <p id="second" class="podium-name">{{ second.name }}</p>
        <div class="second-podium">
            <p class="position">2</p>
        </div>
    </div>
    <div class="first-place">
        <p id="first" class="podium-name">{{ first.name }}</p>
        <div class="first-podium">
            <p class="position">1</p>
        </div>
    </div>
    <div class="third-place">
        <p id="third" class="podium-name">{{ third.name }}</p>
        <div class="third-podium">
            <p class="position">3</p>
        </div>
    </div>
</div>