.podium {
    padding-top: 5rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

#podium {
    max-width: 100%;
}

.podium-name {
    position: absolute;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

#first {
    top: 19%;
    left: 47.5%;
    margin-top: -1.5rem;
}

#second {
    top: 37%;
    left: 32.2%;
    margin-top: -1.5rem;
}

#third {
    top: 48%;
    left: 62.8%;
    margin-top: -1.5rem;
}