<div class="podium">
    <div class="second-place">
        <h3 id="second" class="podium-name">{{ second.name }}</h3>
        <div class="second-top"></div>
        <div class="second-shadow"></div>
        <div class="second-podium">
            <p class="position">2</p>
        </div>
    </div>
    <div class="first-place">
        <h3 id="first" class="podium-name">{{ first.name }}</h3>
        <div class="first-top"></div>
        <div class="first-shadow"></div>
        <div class="first-podium">
            <p class="position">1</p>
        </div>
    </div>
    <div class="third-place">
        <h3 id="third" class="podium-name">{{ third.name }}</h3>
        <div class="third-top"></div>
        <div class="third-shadow"></div>
        <div class="third-podium">
            <p class="position">3</p>
        </div>
    </div>
</div>