<div id="headshot">
    <img src="../../assets/photos/img.png" class="rounded-circle img-thumbnail center-block" alt="headshot">
</div>

<div id="intro" class="text-center">
    <p>
        <strong>
            Software Engineer at Kainos
            <br>
            Student at the University of Birmingham
            <br>
            BSc Mathematics and Computer Science
        </strong>
    </p>
    <h5>Why?</h5>
    <p>
        I have developed and deployed this website with the aim to enhance my understanding of front-end development.
        It also serves as being one of my first steps to becoming proficient in creating cloud based solutions.
    </p>
    <h5>How?</h5>
    <p>
        This project required me to utilise AWS S3 for static storage and CodePipeline for CI/CD. The API requests
        are handled and authenticated via API Gateway, which invoke Lambda functions to interact with multiple tables
        in DynamoDB. I have implemented CloudFront with caching in Europe and North America, whilst having my own SSL
        certificate in order to ensure HTTPS is used. To develop the webapp I have used TypeScript and Angular.
    </p>
</div>