.cv-container {
    margin-top: 20px;
}

.clickable {
    cursor: pointer;
    color: #007bff;
    transition: color 0.3s;
    text-decoration: none;
}

.clickable:hover {
    color: #0356ae;
}

.row {
    margin-left: 0;
    margin-right: 0;
}