<div class="cv-container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div *ngFor="let cvSection of cvSections">
                <app-cv-section [title]="cvSection.title"></app-cv-section>
                <div *ngFor="let cvItem of cvSection.cvItems">
                    <app-cv-item [cvItem]="cvItem"></app-cv-item>
                </div>
            </div>
            <br>
            <br>
            <p class="text-center">
                Download the pdf version
                <a class="clickable" (click)="downloadFile()">
                    here <span class="bi bi-download padding"></span>
                </a>
            </p>
        </div>
        <div class="col-1"></div>
    </div>
</div>