<section id="page404" class="mainbar">
    <section class="matter">
        <div class="container">
            <section class="content">
                <div class="error-page">
                    <div class="error-content">
                        <br>
                        <h3><i class="fa fa-warning text-yellow"></i>Oops! Page not found.</h3>
                        <p>
                            We could not find the page you were looking for. Meanwhile, you may <a href="/home" title="Go to main page">return to main page</a>.
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </section>
</section>
