p,
ul {
    margin-bottom: 0;
}

.clickable {
    cursor: pointer;
    color: #007bff;
    transition: color 0.3s;
}

.clickable:hover {
    color: #0356ae;
}

.multiline-text {
    white-space: pre-line;
}