<div class="row">
    <div class="col-sm-8">
        <p *ngIf="title" class="d-inline-block fw-bold">{{ title }}</p>
        <p *ngIf="location" class="d-inline-block">, {{ location }}</p>
    </div>
    <div class="col-sm-4">
        <p *ngIf="duration" class="float-end">{{ duration }}</p>
    </div>
</div>
<div *ngIf="description">
    <p>{{ description }}</p>
</div>
<div *ngIf="bulletPoints">
    <ul>
        <li *ngFor="let bulletPoint of bulletPoints">{{ bulletPoint }}</li>
    </ul>
</div>