p,
ul {
    margin-bottom: 0;
}

.clickable {
    cursor: pointer;
    color: #007bff;
    transition: color 0.3s;
    text-decoration: none;
}

.bi-chevron-down {
    color: #007bff;
}

.clickable:hover,
.bi-chevron-down:hover {
    color: #0356ae;
}

.multiline-text {
    white-space: pre-line;
}

.smaller-font {
    font-size: 0.95rem;
}