<div class="row">
    <div class="col-sm-8">
        <p *ngIf="title" class="d-inline-block fw-bold">{{ title }}</p>
        <p *ngIf="location" class="d-inline-block">, {{ location }}</p>
    </div>
    <div class="col-sm-4">
        <p *ngIf="duration" class="float-end">{{ duration }}</p>
    </div>
</div>
<div *ngIf="description">
    <p>{{ description }}</p>
</div>
<div *ngIf="bulletPoints">
    <ul>
        <ng-container *ngFor="let bulletPoint of bulletPoints; let i = index;">
            <li [attr.data-toggle]="'modal'" [attr.data-target]="'#modal-' + i"> <!-- TODO: Sort example modal target -->
                <div *ngIf="bulletPoint.modal">
                    <p class="clickable">{{ bulletPoint.title }}</p>
                    <app-cv-modal [id]="i" [modalContent]="bulletPoint.modal"></app-cv-modal>
                </div>
                <div *ngIf="!bulletPoint.modal">
                    <p>{{ bulletPoint.title }}</p>
                </div>
            </li>
        </ng-container>
    </ul>
</div>
<div *ngIf="list">
    <ng-container *ngFor="let item of list; let i = index; let isLast = last">
        <p class="d-inline">{{ item }}<span *ngIf="!isLast"> | </span></p>
    </ng-container>
</div>