<br>
<div>
    <app-calendar id="calendar" (eventsOutput)="updateCalendarEvents($event)"></app-calendar>
</div>
<div>
    <app-podium id="podium" [calendarEvents]="calendarEvents"></app-podium>
</div>
<p id="intro">
    This page is being used to track when my friends and I have been to the gym. This page displays visits using a month-view 
    calendar and a leaderboard. The whole process to add a gym visit is automatic and uitilses Apple’s Shortcuts app. 
    The shortcut is triggered whenever one of us enter our own gym and it then makes a request to the API to 
    log the visit.
</p>