<div class="modal fade" id="modal-{{ id }}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div *ngIf="modalContent?.title" class="modal-header">
                <h5 class="modal-title">{{ modalContent?.title }}</h5>
                <button type="button" class="btn-close" aria-label="Close" data-dismiss="modal"></button>
            </div>
            <div *ngIf="modalContent?.body || modalContent?.link || modalContent?.picture" class="modal-body">
                {{ modalContent?.body }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>